.root {
    -fx-base: #373737;
/*
 * orange, purple, green, blue
 */
    -cb-base: -cb-base-color-green;
}

.drawing-pane {
    -fx-pref-width: 1000;
    -fx-pref-height: 600;
    -fx-background-image: url("graph_bg.png");

    /* remove that ugly orange border */
    -fx-border-color: none;
}

.rectangle {
    -fx-min-height: 40;
    -fx-min-width: 80;
}

.card-content {
    -fx-padding: 5;
}

.pin-connector:hover {
    -fx-background-color: rgba(255,255,255,0.8);
}

#toolbar Button {
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
}
#toolbar Button:hover {
    -fx-background-color: 
        #8b94a7,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22);
}



